---
---

@import 'type-theme';

.post-content img {
  display: block;
}

.edgeless-image {
  border: 1px solid gray;
}

span.highlight {
  background-color: cyan;
}

.in-page-anchor {
  color: inherit;
}
